<div class="card border-secondary mb-3" style="max-width: 25rem;">
    <div class="card-header"> Fixed Deposits</div>
    <div class="card-body text-secondary">
        <h5 class="card-title">Account Number: 23456765</h5>
        <div class="card-text">
            <table>
                <tr>
                    <td>Principal:</td>
                    <td>Rs. 50000</td>
                </tr>
                <tr>
                    <td>Maturity Amount:</td>
                    <td>Rs. 53250</td>
                </tr>
                <tr>
                    <td>Rate of Interest:</td>
                    <td>6.5%</td>
                </tr>
                <tr>
                    <td>Opened On:</td>
                    <td>Sat Jan 26 2019</td>
                </tr>
                <tr>
                    <td>Mature On:</td>
                    <td>Sun Jan 26 2020</td>
                </tr>
                <tr>
                    <td>Status:</td>
                    <td>Closed</td>
                </tr>
            </table>
        </div>

        <p class="card-text">
            <a href="#">Open a new FD</a> | <a href="#">FD Statement</a>
        </p>
        <p>Powered by Angular</p>
    </div>
</div>